/* .test .col-2{
      display: none;
  } */

.side-bar {
  display: none;
}

.buat-pertanyaan h5 {
  font-size: 16px;
  font-weight: 600;
}

.buat-pertanyaan p,
li {
  font-size: 14px;
  font-weight: 400;
}

.buat-pertanyaan .steps {
  background-color: rgb(157, 249, 157, 20%);
  color: #4ea24e;
}

.btn-light {
  border-color: #868881;
  color: #868881;
  margin: 0 5px;
  font-size: 1vw;
}

.btn-light:hover {
  border-color: #4ea24e;
}