body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bordered {
    height: 100vh;
    padding: 0;
}
.bordered:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.95);
    height: 100vh;
}
div div div img {
    height: 100%;
    width: 100%;
    margin: 0;
}
div div div  h1 {
    margin: 10vw 0vw 0vw 6vw;
    font-size: 4rem;
    color: #4EA24E;
}
.input-container {
    background-color: rgba(134, 136, 129, 0.1);
    margin: 2.6vw 0vw 0vw 6vw;
    width: 39vw;
    height: 6.5vh;
}
.myform-input {
    margin: 0vw 0vw 0vw 3rem;
    width: 36vw;
    height: 6.5vh;
    background-color: transparent !important;
    border: none;
    outline: none;
}
svf {
    margin: 0.8rem 0vw 0vw 1rem;
    font-size: 1.5rem;
    color: #868881;
    position: absolute;
}
.button-login {
    padding: 0.5vw 2vw 0.5vw 2vw;
    margin: 1.5vw 0vw 0vw 6vw;
    color: black;
    background-color: white;
    font-weight: 600;
}
.button-login:hover {
    color: black;
    background-color: #28B446;
}
.button-login:focus {
    color: white;
    background-color: rgba(50, 162, 50, 1);
}
.kotak-cek {
    margin: 1vw 0vw 0vw 6vw;
}
.kotak-cek:hover:after {
    background-color: rgba(50, 162, 50, 1) !important;
}
.kotak-snk {
    width: 1.4rem;
    height: 1.4rem;
}
.kata-snk {
    margin: 0.15vw 0vw 0vw 0.5vw;
    font-size: 1rem;
    color: black;
}
.kata-snk a {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
h3 {
    margin: 2vw 0vw 0vw 6vw;
    font-size: 1rem;
    color: black;
}
.icon-login-lain {
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
}