.beranda {
  background-color: rgb(157, 249, 157, 20%);
  font-weight: 600;
}

.beranda .menu {
  color: #4ea24e;
}

.card-header {
  padding: 1rem 1rem;
  background-color: white;
}
.card-header .bi,
.card-footer .bi {
  color: #868881;
}

.card-header .profil .text-muted {
  font-size: 12px;
}

.question p,
.key-word button {
  color: #868881;
  font-size: small;
}

.key-word button {
  border-color: #868881;
  color: #868881;
  margin: 0 5px;
  font-size: 0.75vw;
}

.key-word button:hover {
  border-color: #868881;
}

.card-body {
  padding-left: 5vw;
  padding-right: 5vw;
}

.card-footer {
  padding: 1rem 1rem;
  background-color: white;
}

.card-footer .bi {
  font-size: medium;
  padding: 2px;
}

.card-footer a {
  color: #868881;
  font-size: small;
}