<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forgot-password.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='js/center.js') }}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 bordered">
          <div class="row container">
            <h1 class="col-12">Lupa Sandi</h1>
            <h2>
              Masukkan email anda dan kami akan mengirimkan link untuk mengatur
              ulang sandi.
            </h2>
            <form class="col">
              <div class="col-12 input-container">
                <svf class="bi-envelope icon-form"></svf>
                <input
                  type="email"
                  class="myform-input"
                  placeholder="Email"
                  id="validationDefault02"
                  value=""
                  required
                />
              </div>
              <div class="col">
                <button class="btn btn-primary button-kirim" type="submit">
                  Kirim
                </button>
              </div>
              <div class="row">
                <h3 class="hal-login">
                  <a href="login.html">
                    <svf class="bi bi-caret-left">Kembali ke halaman login</svf>
                  </a>
                </h3>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
