{% extends "base.html" %}
{% block title %}Notification{% endblock %}
{% block content %}

<!-- CSS -->

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/notification.css') }}"
/>

<!-- HTML  -->

<div class="container-fluid notification">
    <div class="title d-flex justify-content-between">
        <h5>Notifikasi</h3>
        <a href="#" class="text-decoration-none">Tandai Semua Sudah Dibaca</a>
    </div>
    <div class="row pt-2 d-flex flex-column">
        <div class="col border-top border-bottom">
            <div class="profil d-flex align-items-center">
                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" width="50" height="50" class="d-block ui-w-40 rounded-circle">
                <div class="media-body ps-2"> 
                    <div class="text-muted">1 jam yang lalu</div>
                    <span>Apa pupuk yang cocok untuk menanam mangga?</span>
                </div>
            </div>
            <span class="not-text">Parimartha menjawab pertanyaan yang Anda ajukan.</span>
        </div>
        <div class="col border-top border-bottom">
            <div class="profil d-flex align-items-center">
                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" width="50" height="50" class="d-block ui-w-40 rounded-circle">
                <div class="media-body ps-2"> 
                    <div class="text-muted">1 jam yang lalu</div>
                    <span>Apa pupuk yang cocok untuk menanam mangga?</span>
                </div>
            </div>
            <span class="not-text">Parimartha menjawab pertanyaan yang Anda ajukan.</span>
        </div>
        <div class="col border-top border-bottom">
            <div class="profil d-flex align-items-center">
                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" width="50" height="50" class="d-block ui-w-40 rounded-circle">
                <div class="media-body ps-2"> 
                    <div class="text-muted">1 jam yang lalu</div>
                    <span>Apa pupuk yang cocok untuk menanam mangga?</span>
                </div>
            </div>
            <span class="not-text">Parimartha menjawab pertanyaan yang Anda ajukan.</span>
        </div>
        <div class="col border-top border-bottom">
            <div class="profil d-flex align-items-center">
                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" width="50" height="50" class="d-block ui-w-40 rounded-circle">
                <div class="media-body ps-2"> 
                    <div class="text-muted">1 jam yang lalu</div>
                    <span>Apa pupuk yang cocok untuk menanam mangga?</span>
                </div>
            </div>
            <span class="not-text">Parimartha menjawab pertanyaan yang Anda ajukan.</span>
        </div>
    </div>
</div>

{% endblock %}